{% extends "base.html" %}
{% block title %} Active containers {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
  <div class="toast bg-success text-white" id="containerRestarted">
    <div class="d-flex">
      <div class="toast-body">
        Container is sucessfull restarted.
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <div class="toast bg-success text-white" id="containerStopped">
    <div class="d-flex">
      <div class="toast-body">
        Container is sucessfull stopped.
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="logs"> Dashboard </li>
  </ol>
</nav>

<card class="mt-5">
  <card-body>
    <card-title>
      <h5> Active containers </h5>
    </card-title>

    <card-text>
      <table class="table table-hover">

        <tbody>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">ID</th>
            <th scope="col">Actions</th>
            <th scope="col" style="min-width:32px"></th>
          </tr>
        </thead>

        {% for container in containers %}
          <tr id="{{ container.name }}">
            <td>{{ container.name }}</td>
            <td class="status">
              <span class="badge bg-success">{{ container.status }}</span>
            </td>
            <td>
              {{ container.short_id }}
            </td>
            <td>
              <div>
                <a class="text-decoration-none mx-2" href="{{ base_url }}container/{{ container.short_id }}/logs">
                  logs
                </a>
                <a class="text-decoration-none mx-2 restart" href="#">
                  restart
                </a>
                <a class="text-decoration-none mx-2 stop" href="#">
                  stop
                </a>
              </div>
            </td>
            <td>
              <span class="spinner-border spinner-border-sm" style="display:none"></span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </card-text>
  </card-body>
</card>

{% endblock %}

{% block script %}

$( document ).ready(function() {
  $('.restart').click(function() {
    $('a').addClass('disabled');
    $(".toast").toast("hide");
    const row = $(this).parents('tr');
    const container_id = row.attr('id');
    row.find('.spinner-border').show();
    $.get('api/container/' + container_id + '/restart')
    .done(() => {
      $("#containerRestarted").toast("show");
    })
    .always(() => {
      row.find('.spinner-border').hide();
      $('a').removeClass('disabled');
    })
  });

  $('.stop').click(function() {
    $('a').addClass('disabled');
    $(".toast").toast("hide");
    const row = $(this).parents('tr');
    const container_id = row.attr('id');
    row.find('.spinner-border').show();
    $.get('api/container/' + container_id + '/stop')
    .done(() => {
      $("#containerStopped").toast("show");
      row.remove();
    })
    .always(() => {
      $('a').removeClass('disabled');
    })
  });
});

{% endblock %}
