[Unit]
Description=NEST Simulator
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/docker run --rm -dt -e NEST_CONTAINER_MODE=nest-server -p 52425:52425 --name nest-simulator {{ nest_simulator_image }}

[Install]
WantedBy=network.target
