{% extends "base.html" %}
{% block title %}Docker images{% endblock%}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="my-5">
  <h5> Docker images </h5>

  <table class="table">

  <tbody>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>
      <th scope="col">ID</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  {% for container in images %}
    <tr>
      <td>{{ container.name }}</td>
      <td>
        <span class="badge bg-primary">{{ container.tag }}</span>
      </td>
      <td>
        {{ container.short_id }}
      </td>
      <td>
        <a class="btn btn-outline-primary btn-sm" href="{{container.short_id}}/run"> run </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
